<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
  <strong>Title:</strong>
  <%= @event.title %>
</div>
  </div>

  <div class="form-group">
  <strong>Description:</strong>
  <%= @event.description %>
</div>

<div class="form-group">
  <strong>Expectation:</strong>
  <%= @event.Expectation %>
</div>

<div class="form-group">
  <strong>Start time:</strong>
  <%= @event.start_time %>
</div>

  <div class="form-group">
  <strong>End time:</strong>
  <%= @event.end_time %>
</div>

<div class="form-group">
  <strong>Outcome:</strong>
  <%= @event.Outcome %>
</div>

<% if @event.user == current_user %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
